<h1>This is mah website heyooo</h1>
<!-- # TODO: edit about page to explain the problem like this, the was juicebox40 has %> -->
<p>
  Every few minutes, your local power grid has surplus clean power available from renewable or highly efficient power plants. If your appliances only used electricity at your local grid's clean moments, they would generate a lot less pollution. And now they can. WattTime's groundbreaking tools analyze the power grid to identify these moments in real time. Our software can also empower your intelligent devices to shift energy use to these moments, substantially reducing pollution without any change in equipment operations, user comfort, or energy costs.
</p>

<h3>Overview</h3>

<p>
  While Electric Vehicles (EVs) have always held
  the promise of a cleaner energy future, they are only
  as clean as the electricity they use. For instance,
  from the “wrong” grid electricity sources, a new
  Nissan LEAF can emit 23% MORE carbon dioxide
  (CO2) per mile traveled than an average new light
  passenger car with a fuel economy of 35 mpg. Even
  when accounting for the energy required to refine
  gasoline, an EV powered by coal might not do better
  than a new passenger gas car. Based on recent
  EV efficiency and electricity emissions data, 40
  percent of Americans live in regions where EVs can
  produce more global warming emissions than efficient
  gasoline vehicles. To combat this issue, eMotorWerks
  has developed an EV charging solution that turns
  the tables and make EVs cleaner by automatically
  ensuring they are powered by the cleanest
  “marginal fuel” available on the local power grid.
</p>

<h3>Background</h3>
<p>
  Since there is virtually no real‑time storage of
  energy in the electrical grid, demand from electrical
  loads has to be met with an equal amount of electrical
  supply from power plants. The task of matching
  supply and demand is the domain of various grid
  operators throughout the country. For example, in
  California, an organization called CAISO (California
  Independent System Operator) is responsible for
  deciding which power plant to turn on or ramp up
  every time additional demand appears. These power
  plants and their power are called ‘marginal plants’
  and ‘marginal power’, respectively, and the fuel used
  to power them is therefore called ‘marginal fuel’.
  However, the emissions level from marginal plants
  varies dramatically — sometimes producing CO2
  gases at rates 40% higher and more over baseline.
</p>

<p>
  The electricity needed to charge an EV is of a
similar magnitude as the entire aggregated load
of most households, typically between 3 kW and
8 kW. Given, however, that most car charging can
be achieved at flexible times of the day, EV charging
generally represents a highly time‑shiftable load.
</p>

<h3>Solutions</h3>
<p>
  The electricity needed to charge an EV is of a
similar magnitude as the entire aggregated load
of most households, typically between 3 kW and
8 kW. Given, however, that most car charging can
be achieved at flexible times of the day, EV charging
generally represents a highly time‑shiftable load.
</p>

<p>
  Some results are quite counterintuitive — for
example, in Midwest (MRO grid operator territory),
charging after midnight produces a 30–40% HIGHER
amount of CO2 compared to charging at 7pm. This is due to the fact that, at night, most of the flex
capacity in the MRO grid is provided by coal‑fired
plants, vs gas‑fired plants in early evenings. At night,
coal is the primary marginal fuel for almost half the
United States — meaning that coal‑fired plants are
the ones responding to the load changes.
</p>

<p>
  Coal‑fired plants emit 2.1 lbs of CO2
 for every kWh
they generate. That, divided by 3 miles / kWh ‘fuel’
economy of a light EV means that an EV will effectively
emit 0.7 lbs of CO2
 per mile driven.
Burning gasoline emits 20 lbs CO2
 per gallon. That,
divided by 35 miles per gallon average fuel economy
of a new light passenger vehicle in 2015 means 0.57 lb
of CO2
 emitted per mile driven, meaning that a new
Nissan Leaf can emit 23% MORE CO2
 per mile traveled
than an AVERAGE new light passenger car. Even when
accounting for the energy required to refine gasoline,
an EV would still be no cleaner than a gas‑powered car
when powered by coal as its marginal fuel.
</p>

<p>
  Thus, chargeIT seeks to shift the marginal load of their electricity usage to the cleanest possible time.  In most areas of the US, this fuel is natural gas — which emits less than half the CO2 per mile driven of a comparable coal plant.
</p>

***http://watttime.org/technology/case-studies/****
