<div id='missing-data'>

</div>
<% energy_data = raw(@energy_data) %>

<script>
// d3.json('energy_data', function(data) {
//   data = MG.convert.date(energy_data, 'timestamp');
//   MG.data_graphic({
//       title: "Carbon Emissions",
//       description: "This is a simple line chart. You can remove the area portion by adding area: false to the arguments list.",
//       data: data,
//       width: 600,
//       height: 200,
//       right: 40,
//       target: '#MGtest',
//       x_accessor: 'timestamp',
//       y_accessor: 'carbon'
//   });
// });

MG.data_graphic({
  title: "Missing Data",
  description: "This is an example of a graphic whose data is currently missing. We've also set the error option, which appends an error icon to the title and logs an error to the browser's console.",
  error: 'This data is blocked by Lorem Ipsum. Get your **** together, Ipsum.',
  chart_type: 'missing-data',
  missing_text: 'This is an example of a missing chart',
  target: '#missing-data',
  width: 600,
  height: 200
});
</script>
