<h1> Map Goes Here</h1>

<div>
  <iframe src="http://www.plugshare.com/widget.html?latitude=&longitude=&spanLat=&spanLng=" width="800" height="600"></iframe>
</div>
<div>
  <h3>Watt Time Data</h3>
  <p>name: <%= @name %></p>
  <p>carbon: <%= @carbon %></p>
  <p>genmix: <%= @genmix %></p>
</div>
