<div id="map-window">
<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#carbon" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#genmix" role="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li><a href="#comparison" role="tab"><i class="fa fa-bar-chart"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="carbon">
            <h1 class="sidebar-header">
                Carbon Emissions
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p>This shows the real time emission of carbon from your local power grid measure in pounds of carbon per megawatt of electricity produced.</p>
            <%= render partial: "shared/carbon" %>
        </div>

        <div class="sidebar-pane" id="genmix">
            <h1 class="sidebar-header">Fuel Mix Data<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <p>Each local power grid has its own combination of fuel sources. These fuels make up variable percentages of total energy produced based on the time of day, weather, power demand, and other factors.</p>
            <%= render partial: "shared/genmix" %>
        </div>

        <div class="sidebar-pane" id="comparison">
            <h1 class="sidebar-header">Comparing Carbon Emissions at Current Power level<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <div class="sidebar-pane" id="settings">
            <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        </div>
    </div>
</div>

<div class="wrapperloading">
  <div class="loading up"></div>
  <div class="loading down"></div>
</div>

<div id="map" class="sidebar-map">
  <div id='inputs'></div>
  <div id='errors'></div>
  <div id='directions'>
    <div id='routes'></div>
    <div id='instructions'></div>
  </div>
</div>

<div class="directions-icon">
  <%= button_to "Get Directions" %>
</div>
<div class="geolocate">
  <%= button_to "My Location" %>
</div>
</div>
