<div id="map"></div>

<div id="graphics">
  <div id="carbon"></div>
  <% data = raw(@response.to_json) %>

  <%= metrics_graphic_for JSON.parse(data), target: '#carbon', title: "Carbon Emission (lb per MW)", description: "This graphic shows a time-series of carbon.", width: 600, height: 250, x_accessor: 'timestamp', y_accessor: 'carbon', time_format: '%Y-%m-%dT%H:%M:%SZ'
   %>
</div>
