<h1>User Account Page</h1>

<div id='downloads'>

</div>
<%= data = [{date: '2014-11-01', value: 12}, {date: '2014-11-02', value: 18}] %>
<%= metrics_graphic_for data, target: '#downloads', title: "Downloads", description: "This graphic shows a time-series of downloads.", width: 600, height: 250, x_accessor: 'date', y_accessor: 'value', time_format: '%Y-%m-%d'
 %>

D3 carbon map
 <!--
 <div class="container">
   <svg class="chart"></svg>
     <script>

       var data = <%= raw(@response.to_json) %>;

       var margin = {top: 20, right: 20, bottom: 30, left: 50},
           width = 960 - margin.left - margin.right,
           height = 500 - margin.top - margin.bottom;

       var parseDate = d3.time.format("%Y-%m-%dT%H:%M:%SZ").parse;

       var x = d3.time.scale()
           .range([0, width]);

       var y = d3.scale.linear()
           .range([height, 0]);

       var xAxis = d3.svg.axis()
           .scale(x)
           .orient("bottom");

       var yAxis = d3.svg.axis()
           .scale(y)
           .orient("left");

       var area = d3.svg.area()
           .x(function(d) { return x(d.timestamp); })
           .y0(height)
           .y1(function(d) { return y(d.carbon); });

       var svg = d3.select("body").append("svg")
           .attr("width", width + margin.left + margin.right)
           .attr("height", height + margin.top + margin.bottom)
         .append("g")
           .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


         data.forEach(function(d) {
           d.timestamp = parseDate(d.timestamp);
           d.carbon = +d.carbon;
         });

         x.domain(d3.extent(data, function(d) { return d.timestamp; }));
         y.domain([0, d3.max(data, function(d) { return d.carbon; })]);

         svg.append("path")
             .datum(data)
             .attr("class", "area")
             .attr("d", area);

         svg.append("g")
             .attr("class", "x axis")
             .attr("transform", "translate(0," + height + ")")
             .call(xAxis);

         svg.append("g")
             .attr("class", "y axis")
             .call(yAxis)
           .append("text")
             .attr("transform", "rotate(-90)")
             .attr("y", 6)
             .attr("dy", ".71em")
             .style("text-anchor", "end")
             .text("Carbon Emissions (lb/MW)");

   </script>
 </div> -->
