<div id="marginal"></div>


<!-- <% marginal_carbon = raw(@marginal_carbon.to_json) %> -->

<% if @marginal_carbon.empty? %>
  <script>
    MG.data_graphic({
      description: "We're sorry! This data is not available right now.",
      error: 'Data Unavailable',
      chart_type: 'missing-data',
      missing_text: "We're sorry! This data is not available right now.",
      target: '#carbon',
      width: 300,
      height: 200
    });
  </script>
<% else %>
<% @marginal_carbon.each do |response| %>
  <% response['marginal_carbon_value'] = response['marginal_carbon']['value'] %>
<% end %>

  <%= metrics_graphic_for @marginal_carbon, target: '#marginal', title: "", description: "This graphic shows a time-series of carbon.", width: 400, height: 200, x_accessor: 'timestamp', y_accessor: 'marginal_carbon_value', time_format: '%Y-%m-%dT%H:%M:%SZ'%>
<% end %>
