<div class="splash fade-in">
  <div class="splash-sub-text">
    <p>Cleaner. Greener. Better.</p>
  </div>
  <h1 class="splash-title fade-in">POWER TRIP.</h1>
  <%= link_to map_path do %>
    <div class="welcome-link">
      <p class="welcome-text"><i class="fa fa-power-off fa-3x"></i>
</i></p>
    </div>
  <% end %>
</div> <!-- END .splash -->
