<div class="splash fade-in">
  <div class="splash-sub-text">
    <p>Cleaner. Greener. Better.</p>
  </div>
  <%= link_to map_path do %>
    <div class="welcome-link">
      <h1 class="splash-title">POWER TRIP.</h1>
    </div>
  <% end %>
</div> <!-- END .splash -->
