<div class="splash fade-in">
  <h1 class="splash-title fade-in">POWER TRIP.</h1>
  <i class="fa fa-car"></i>. . .<h3>Travel</h3>. . .<i class="fa fa-car"></i>
  <h4>Cleaner. Greener. Better.</h4>
  <%= link_to map_path do %>
    <div class="welcome-link">
      <p class="welcome-text">Login</p>
    </div>
  <% end %>
  <%= link_to map_path do %>
    <div class="welcome-link">
      <p class="welcome-text">Register</p>
    </div>
  <% end %>
</div> <!-- END .splash -->
