
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,900,700,300);

/*
*= require metricsgraphics
*/

body {
  font-family: 'Lato';
}

//forms
.center-div {
  max-width: 50%;
  margin: 0 auto;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

//Nav Bar Styles
 .navbar-default {
    background-color: #FFFFFF;
    border-bottom-color: black;
    font-family: 'Lato';
    font-weight: 400;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: black;
 }

 .navbar-default .navbar-nav > li > a {
    color: black;
  }

  .navbar-default .navbar-brand {
    color: black;
  }

.separator {
    position: relative;
    display: block;
    padding: 15px 0px;
  }
