// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.black-button {
  background-color: #000000 !important;
  color: #FFFFFF;
  border-radius: 50px;
}

.black-button:hover {
  text-decoration: none;
  color: #bfbfbf;
}

.round-button {
  border-radius: 50px;

}

.text-center {
  margin-bottom: 15px;
  text-align: center;
}

.form-control {
  margin-bottom: 10px;
}

.registrations .btn {
  margin: auto;
  display: block;
  margin-top: 10px;
  font-size: larger;
}
