// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tablau {
  width: auto;
  margin-bottom: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px
}

.user-center {
  text-align: center;
}

.users.show > h2 {
  margin-bottom: 15px
}

.black-button {
  background-color: #000000 !important;
  color: #FFFFFF;
  border-radius: 50px;
}

.black-button:hover {
  text-decoration: none;
  color: #bfbfbf;
}
